.sidebar {
  line-height: 80px;
  height: 80px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  position: relative;
  margin: 0 auto;
}

.sidebar > div {
  height: inherit;
}

.score {
  color: red;
}

.btn{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
  font-size:.7em;
  float: right;
}

.circle {
  width: 14px;
  height: 14px;
  top: calc(50% - 7px);
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.player-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.score-container {
  font-weight: bold;
}

.player-row {
  position: relative;
  height: 50%;
  line-height: 40px;
  padding: 0;
}

/*END BASIC CLASS*/

.sidebar-multi .player-name {
  padding-left: 20px;
  width: 60%;
}

.sidebar-multi .player-name, .sidebar-multi .score-container {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 991px) {
  .sidebar{
    font-size: 18px;
    line-height: 60px;
    height: 60px;
  }

  .time-container {
    padding: 0;
  }

  .sidebar-single .score-container, .sidebar-single .time-container {
    padding-right: 0;
  }

  .player-row {
    line-height: 30px;
  }

  .btn {
    padding: 7px 10px;
  }

  .circle {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 767px)  {

  .btn-container {
    position: absolute;
    padding: 0;
    top: -34px;
    left: 0;
    width: 100%;
    height: 34px;
  }

  .btn {
    position: static;
    transform: translateY(0);
    width: 100%;
    border-radius: 0;
  }

  .sidebar{
    margin-top: 34px;
  }

  .sidebar-single .player-name{
    width: 50%;
  }

  .sidebar-single .score-container{
    padding: 0;
    text-align: center;
  }

  .sidebar-single .time-container {
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
  }

  .sidebar-multi .player-name {
    padding-left: 0;
  }

  .sidebar-multi .player-container {
    padding: 0;
  }

  .sidebar-multi .player-row {
    height: 100%;
    line-height: 60px;
  }

  .sidebar-multi .score-title {
    display: none;
  }

  .sidebar-multi .player1 {
    padding-left: 1%;
    width: 38%;
  }

  .sidebar-multi .player1 .player-name {
    width: auto;
    max-width: 75%;
    text-align: right;
  }

  .sidebar-multi .player1 .score-container {
    padding: 0;
    width: auto;
  }

  .sidebar-multi .player2 .player-name {
    padding: 0;
    text-align: right;
  }

  .sidebar-multi .player2 {
    width: 38%;
    float: right;
    text-align: right;
    padding-right: 1%;
  }

  .sidebar-multi .time-container {
    position: absolute;
    margin-left: 50%;
    padding: 0;
    border-right: solid 4px #5bc0de;
    border-left: solid 4px #5bc0de;
    text-align: center;
    transform: translateX(-50%);
  }

  .time {
    display: none;
  }

  .player-active {
    width: 38%;
    background-color: greenyellow;
  }
}

@media screen and (max-width: 550px)  {

  .sidebar {
    line-height: 40px;
    height: 40px;
    text-size-adjust: 100%;
  }

  .sidebar-multi .player-row {
    line-height: 40px;
  }

  .sidebar-single .time-container {
    width: 37%;
    padding-right: 0;
    margin-right: 3%;
  }

  .player-container, .time-container {
    font-size: 16px;
  }

  .time-container {
    text-align: center;
  }

  .player-container {
    padding-right: 0;
    padding-left: 3%;
  }

  .time-container {
    padding-left: 0;
    padding-right: 5px;
  }

  .sidebar-single .player-container{
    width: 60%;
  }

  .sidebar-single .player-name{
    width: auto;
  }

  .sidebar-multi .player1 .player-name {
    max-width: 65%;
  }

  .player-name {
    max-width: 80%;
    padding: 0;
    text-align: right;
  }

  .score-container {
    width: auto;
    padding: 0;
  }

  .score-title {
    display: none;
  }
}

