<div *ngIf="isShow">

  <div class="create_game center">
    <div class="header">

      <div class="col-xs-1 div-cancel">
        <a (click)="closePopup()" class="cancel"><img src="assets/img/cancel.png"></a>
      </div>

      <div class="col-xs-10">
        <h1 class="text-center text-primary">Wordamp</h1>
      </div>

      <div class="clearfix"></div>
    </div>

    <form [formGroup]="menuGame" (ngSubmit)="onFormSubmit($event)">

      <div class="form-group exists-name" *ngIf="!isEditing">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 text-center">
          <span>You name: <strong class="editname" (click)="toogleStateOfEditing()">{{menuGame.value.username}}</strong></span>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="form-group has-success new-name" *ngIf="isEditing">
        <label for="username" class="username col-xs-6 col-sm-6 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 text-success text-center">Enter New Name</label>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <input type="text" placeholder="username" autocomplete="off" class="form-control center-block" id="username" required name="username"
                 autofocus formControlName="username" (blur)="resetStateOfEditing($event)" (keydown.enter)="resetStateOfEditing($event)"
                 (focus)="allotAllText($event)">
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="form-group lang" formGroupName="languages">

        <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4">
          <p class="title">Choose languages:</p>
        </div>

        <div class="col-lg-12 col-lg-offset-0 col-md-offset-3 col-md-5 col-sm-offset-1 col-sm-7 col-xs-offset-1 col-xs-7 buttons-lang">


          <div class="box lang first" >
            <button class="header-menu" type="button" (click)="setNewLanguageImage($event);isOpenMenu.first=!isOpenMenu.first;isOpenMenu.last = false">
              <img [src]="currentLanguages.first.src" [name]="currentLanguages.first.name" data-order="first" class="img-responsive"  >
            </button>
            <ul class="menu dropdown-menu" [class.open]="isOpenMenu.first">
              <li class="menu-item" *ngFor="let lang of imageOfLanguages">
                <div class="language">
                  <img [src]="lang.src" class="languages" data-order="first" [name]="lang.name" (click)="saveNameOfLangByClickOnItem(lang.name,'first');currentLanguages.first=lang;isOpenMenu.first = false">
                </div>
              </li>
            </ul>
          </div>

          <div class="box lang last">
            <button class="header-menu" type="button" (click)="setNewLanguageImage($event);isOpenMenu.last = !isOpenMenu.last; isOpenMenu.first  = false">
              <img [src]="currentLanguages.last.src" [name]="currentLanguages.last.name" data-order="first" class="img-responsive"  >
            </button>
            <ul class="menu dropdown-menu" [class.open]="isOpenMenu.last">
              <li class="menu-item" *ngFor="let lang of imageOfLanguages" >
                <div class="language">
                  <img [src]="lang.src" class="languages" data-order="last" [name]="lang.name" (click)="saveNameOfLangByClickOnItem(lang.name,'last');currentLanguages.last=lang;isOpenMenu.last = false">
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>


      <div class="form-group difficulty">

        <div class="col-lg-12 col-md-3 col-sm-3 col-xs-3">
          <p class="title">Choose difficulty:</p>
        </div>

        <div class=" col-lg-offset-3 col-lg-2 col-md-3 col-sm-3 col-xs-3 first">
          <input hidden type="radio" id="small" value="small" name="difficulty" formControlName="difficulty">
          <label class="small" for="small">
            <div class="col-lg-12 size_img">
              <div class="img_box">
                <img src="assets/img/small.jpg">
              </div>
            </div>
            <div class="col-lg-12 size_desc">
              4x4
            </div>
          </label>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 first">
          <input hidden type="radio" id="medium" value="medium" name="difficulty" formControlName="difficulty">
          <label class="medium" for="medium">
            <div class="col-lg-12 size_img">
              <div class="img_box">
                <img src="assets/img/medium.jpg">
              </div>
            </div>
            <div class="col-lg-12 size_desc">
              6x4
            </div>
          </label>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 first">
          <input hidden type="radio" id="large" value="large" name="difficulty" formControlName="difficulty">
          <label class="large" for="large">
            <div class="col-lg-12 size_img">
              <div class="img_box">
                <img src="assets/img/large.jpg">
              </div>
            </div>
            <div class="col-lg-12 size_desc">
              8x5
            </div>
          </label>
        </div>

        <div class="clearfix"></div>
      </div>


      <div class="select-step">
        <div class="col-xs-12  submit">
          <button  type="submit" class="btn-center myButton">PLAY</button>
        </div>

        <div class="clearfix"></div>
      </div>

    </form>

  </div>

</div>
