.create_game{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fff;
  overflow: auto;
}

.title {
    margin-top: 0;
}
h1 {
  font-size: 2.5em;
}
.lang p, .type p, .difficulty p {
  text-align: center;
}

/*******userName*********/
.exists-name {
  margin-top: 10px;
  margin-bottom: 30px;
}

.exists-name .editname:hover {
  color: #2fa4e7;
}
.exists-name span, .title {
  font-size: 1.5em;
}
.exists-name{
  padding: 2% 0 0 0;
}
div.new-name {
  height: auto;
  margin: 3% 0 3% 0;
}
div.new-name label {
   font-size: 1.7em;
   font-weight: normal;
}
.new-name input {
  font-size: 14px;
}
.new-name div {
  padding-right: 0px;
}
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
.pen-edit {
  margin-top: -2%;
}
/************Start radio lang******************/
.buttons-lang {
  text-align: center;
}
.box{
  display: inline-block;
}
.lang button {
  width: 130px;
  height: 130px;
  background: rgba(0,0,0,0);
  border-radius: 50%;
  border:none;
  cursor: pointer;
}
.lang button:focus {
  outline: none;
}
.lang button img {
   -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
  border-radius: 50%;
}

.menu.dropdown-menu {
  z-index: 100;
  background-color: rgba(240, 248, 255, 1);
  width: 210px;
  list-style-type: none;
  display: block;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
  position: absolute;
  top: inherit;
  left: inherit;
  min-width: 60px;
}
.menu img.languages {
  width: 60px;
  border: 1px solid grey;
  border-radius: 50%;
}
.menu li {
  display: inline-block;
  padding: 2%;
  float: left;
}

.menu img.languages:hover {
  border: none;
  -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
  border-radius: 50%;
}

.menu.close {
  display: none;
}
div.lang.last  {
  margin-left: -45px;
}

/*******************radio buttons*****************/
/*difficulty*/
.difficulty label{
  opacity: .5;
}
.difficulty label:hover{
  opacity: .7;
}
.difficulty input:checked  + label{
  opacity: 1;
}
.difficulty input:checked  + label .img_box img {
  border-radius: 10px;
   text-shadow: 4px 4px 6px rgba(0,0,0,0.5) ;
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) ;
}
/********the same***********/
.difficulty label {
  cursor:pointer;
  width: 100%;
  height: 120px;
  transition: opacity .3s;
}
.difficulty .size_img{
  height: 100px;
}
.difficulty .img_box{
  height: 80px;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.difficulty img{
  display: block;
  height: 100%;
  width:auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.difficulty .size_desc{
  text-align: center;
  height: 20px;
  font-size: 1em;
}
/**************btn start************/
.submit .btn {
 margin: 2% 15px 2% 15px;
 width: 30%;
}
.submit .btn-center {
 margin-left: 50%;
 transform: translateX(-50%);
}

/******** media **********/
@media screen and (max-width: 1200px)  {
  .lang p, .difficulty p {
    text-align: left;
  }
}

@media screen and (min-width: 1024px)  {
  .new-name input {
     font-size: 20px;
     padding: 20px 10px 20px 10px;
  }
}
@media screen and (max-width: 992px)  {
  .title {
    margin-top: 15%;
  }
  .exists-name span, .title {
    font-size: 1.2em;
  }
  .exists-name .pen-edit {
    width: 3%;
  }
  .difficulty label{
    height: 100px;
  }
  .difficulty .size_img{
    height: 90px;
  }
  .difficulty .size_desc {
    height: 10px;
    font-size: .9em;
  }
   .difficulty .img_box{
    height: 70px;
  }
  .waiting  .image-wait {
    width: 55%;
  }

  .btn {
    font-size: 1em;
    padding: 7px 10px;
    width: auto;
  }
  .menu.dropdown-menu {
    width: 175px;
  }
  .menu img.languages {
    width: 50px;
  }
}
@media screen and (max-width: 768px)  {
  .title {
    margin-top: 7%;
  }
  .lang button {
    width: 110px;
    height: 110px;
  }
  .menu.dropdown-menu {
    width: 150px;
  }
  .menu img.languages {
    width: 45px;
  }
  .title {
    font-size: 1em;
  }
  .waiting  .image-wait {
    width: 75%;
  }
  .submit .btn {
   font-size: 1em;
   margin: 1% 0 1% 0;
   padding: 7px 10px;
   width: 100%;
   transform: translateX(0);
 }
 h1 {
  font-size: 2em;
  }
}
@media screen and (max-width: 500px)  {
  .waiting h1.title-wait{
    font-size: 1.5em;
  }
  .submit {
    padding-left: 0px;
    padding-right: 0px;
  }
  .exists-name span, .title, div.new-name label {
    font-size: 1em;
  }
  .difficulty label{
    height: 80px;
  }
  .difficulty .size_img{
    height: 60px;
  }
  .difficulty .size_desc{
    height: 20px;
    font-size: .7em;
  }
  .difficulty .img_box{
    height: 45px;
  }
  .title {
    margin-top: 10%;
  }
  div.new-name .username, .title  {
     margin-left: -15px;
  }
  label.username {
   text-align: left;
  }
  .difficulty input:checked  + label .img_box img {
    border-radius: 5px;
  }
  .form-group {
    margin: 0 auto;
  }
  .exists-name {
    margin-bottom: 20px;
  }
  .lang button {
    width: 80px;
    height: 80px;
  }
   .menu.dropdown-menu {
    width: 110px;
  }
  .menu img.languages {
    width: 31px;
  }
  .waiting  label {
    font-size: 1.1em;
  }
  .waiting  input {
    font-size:.8em;
  }
  .waiting  .image-wait {
    width: 100%;
    margin: 5% auto;
  }
  .waiting .mainmenu {
    margin: 0px 0 20px 0;
  }
  .header a.btn {
    padding: 5px;
    margin-top: -10px;
  }
}
@media screen and (max-width: 320px)  {
  h1{
    font-size: 1.8em;
  }
}
