/* You can add global styles to this file, and also import other style files */
* {
  font-size: 12px;
}
@media screen and (max-width: 1200px)  {
  * {
      font-size: 10px;      
    }
}

body {
    background: url("/assets/img/bg.png");
}