<app-sidebar></app-sidebar>
<div class="field" [class.small] ="difficulty.small" [class.medium] ="difficulty.medium" [class.large] ="difficulty.large">
  <div class="row" *ngFor="let rows of field">
    <div class="cell flip-container" *ngFor="let card of rows">
      <div class="flipper"  draggable="fasle" [class.open] ="card.isOpen">
        <div class="card" [class.isOpen] ="card.isOpen" draggable="fasle" (click)="openCard(card)">
        </div>
        <div class="word" [class.isHide]="card.isHide">
          {{card.word}}
        </div>
      </div>
    </div>
  </div>
</div>
