.field {
  min-height: 768px;
  width:100%;
  padding: 5% 0 0;
}

.row{
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.cell.flip-container{
  perspective: 1000;
  width: 110px;
  height: 110px;
  margin: 10px;
  box-sizing: border-box;
}


.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card, .word {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 5px 0px #130c0c;
  border-radius: 30%;
}

.card {
  cursor: pointer;
  z-index: 2;
  background: url("/assets/img/sky.jpg") no-repeat;
  background-size: cover;

}
.card img {
  width: inherit;
  height: inherit;
}

.word {
  font-size: 20px;
  color: black;
  line-height: 110px;
  text-align: center;
  transform: rotateY(180deg);
  background:  linear-gradient(top, white,#C1CDCD);
  transition: color .2s;
}


.flip-container:focus .flipper,
.flip-container .flipper.open {
  transform: rotateY(180deg);
}

.word.isHide{
  color: #C1CDCD;
  transform: rotateY(180deg);
}


@media (max-width: 1500px)  {

  .cell.flip-container{
  width: 100px;
  height: 100px;
  font-size: 16px;
  line-height: 100px;
}

.word {
  line-height: 100px;
}

}

@media (max-width: 1380px)  {

  .row{
    width: 550px;
  }

  .field.medium .row{
    width: 100%;
  }
}

@media (max-width: 1040px)  {

    .field.medium   .cell.flip-container{
      width: 80px;
       height: 80px;

}
}

