<div class="container settings">

  <div class="start_box" *ngIf="!isWait">

    <div class="row">
      <h1 class="text-center crafty_girls">Welcome to Word-Camp</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 intro" *ngIf="isNewUser && isMainMenuPage">
        <h2 class="col-xs-12 text-center">Hello, My Dear Friend!!!</h2>
        <span class="col-xs-12 text-center">I am happy to see you =)</span>
        <span class="col-xs-12 text-center "> <span class="bold">Here you can learn new words and challenge each other!</span></span>
      </div>
    </div>

    <div class="row">

      <nav class="col-sm-12 col-md-12 col-xs-12 menu">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
          <a (click)="hideIntroForUser()" routerLink="/mainmenu/single" routerLinkActive="active" class="btn btn-info btn-lg link">New Game</a>
        </div>
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6  col-xs-12">
          <a (click)="hideIntroForUser()" routerLink="/mainmenu/multi" routerLinkActive="active" class="btn btn-info btn-lg link">Open Games</a>
        </div>
      </nav>

      <router-outlet></router-outlet>

    </div>

  </div>
  <!--start_box-->

  <div class=" waiting start_box" *ngIf="isWait">

    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="mainmenu btn btn-info btn-lg" (click)="goToMainMenu()">Main menu</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1 class="title-wait text-center">Wait for second user=)</h1>
      </div>
    </div>

    <div class="row">
      <div class="form-group share">
        <label for="share_link" class="col-xs-12 col-md-5 control-label text-center">Share link to friend:</label>
        <div class="col-xs-12 col-md-7 share-input">
          <input type="text" class="form-control center-block" id="share_link" [value]="shareAbleLink">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <img class="center-block image-wait" src="assets/img/wait.gif">
      </div>
    </div>

  </div>

</div>
