<div class="routing">
    <div>
      <h1 class="text-center text-primary">Wordamp</h1>
      <div class="clearfix"></div>
    </div>

  <div class="select">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 single">
      <a class="btn" (click)="startSingleGame($event)">
        <img src="assets/img/human1.png" class="type">
        <p>Play Alone</p>
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 multi">
      <a class="btn" (click)="goToMultiComponent($event)">
        <img src="assets/img/human2.png" class="type">
         <p>Play with friend</p>
      </a>
    </div>

    <div class="clearfix"></div>
  </div>

</div>