/****loading********/
.loading {
 padding-top: 20%;
}
h1.greeting {
 font-size: 3em;
}
img.gretting-img {
 margin-left: 50%;
 transform: translateX(-50%);
}
/****main******/

h1 {
  font-size: 2.5em;
}
.start_box {
  min-height: 500px;
  margin-top: 5%;
}
/*******name*******/
div.name {
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 4%;
}
div.name label {
   font-size: 1.5em;
   font-weight: normal;
   line-height: 38px;
   padding: 0;
   text-align: right;
   /*margin-left: -15px;*/
}
.refresh {

    width: 40px;
}
/*****intro******/
.intro span, .intro h2 {
   font-size: 1.8em;
   padding-top: 1%;
   padding-bottom: 1%;
}
.intro-link {
    text-align: center;
    padding-top: 1%;
}
.link {
   cursor:pointer;
 }
 .intro span.bold{
  font-weight: bold;
}
 /*****btn next operation******/
 div.name, input{
   font-size: 1.2em;
 }

div.select-step .btn {
 margin-top: 1%;
 width: 20%;
}
div.select-step div {
 text-align: center;
}
/*****video*****/
.intro-gif {
  width: 50%;
}
.block-gif {
  padding: 10px 0px 20px 0px;
}
/******** media **********/
@media screen and (max-width: 992px)  {
  .intro span, .intro h2, .link {
    font-size: 1.5em;
  }
  div.name, .next-step {
     margin-top: 2%;
  }
  .refresh {
    width: 35px;
}
}
@media screen and (max-width: 850px)  {
    div.select-step .btn { 
        width: 100%;  
    }
     div.name label {
        font-size: 1.2em;
     }
}
@media screen and (max-width: 500px)  {
    
  .intro span, .intro h2, .link {
    font-size: 1em;
  }
  div.name label {
     font-size: .8em;
     padding-right: 5px;
     padding-left: 15px;
     text-align: center;
     margin-left: 0px;
  }
  .intro-gif {
    width: 100%;
  }

  .intro h2 {
    margin: 10px 0 10px 0;
  }
  input {
      font-size: .8em;
  }
  h1 {
    font-size: 2em;
  }
  h1.greeting {
    font-size: 2.5em;
  }
  div.select-step .btn {
    margin-bottom: 4%;
  }
  .refresh {
    width: 30px;
    margin-left: -15px;
 }
 img.gretting-img { 
     width: 150px;
 }
}
@media screen and (max-width: 320px)  {
  h1{
    font-size: 1.8em;
  }
  .intro {
    margin: 0;
  }
  .intro h2 {
    margin: 5px 0 5px 0;
  }
  input, div.name label {
      font-size: .7em;
  }
   h1.greeting {
    font-size: 2em;
  }
}
