<router-outlet></router-outlet>

  <div class="start_box" >

    <div>
      <h1 class="text-center text-primary">Welcome to Wordamp</h1>
       <div class="clearfix"></div>
    </div>

    <div class="name form-group has-success">
        <label for="username" class="col-lg-5 col-md-5 col-sm-4 col-xs-4 text-success">Name:</label>
        <div class=" col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-4  col-sm-offset-1 col-sm-5  col-xs-offset-0 col-xs-6">
          <input type="text" autocomplete="off" class="form-control center-block" id="username" required name="username"
           [(ngModel)]="userName" (focus)="allotAllText($event)">
        </div>
        <div class="col-xs-1">
          <img src="assets/img/ref.png" class="refresh" (click)="updateName()">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="select-step">
      <div class="col-xs-12">
        <a class="btn btn-success btn-center next-step" (click)="startSingleGameDefault()">Quick start</a>
      </div>

      <div class="col-xs-12">
          <a class="btn btn-primary btn-center next-step" (click)="goToMainMenu()">Main menu</a>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-xs-12 intro-link">
      <a class="link" (click)="showVideo($event)">Show introduction↓</a>
    </div>

    <div>
      

      <div class="col-xs-12 block-gif" *ngIf="isOpenVideoIntro">

      <div class="row">
      <div class="col-xs-12  intro">
        <span class="col-xs-12 text-center bold">Here you can learn new words and challenge each other!</span>
        <span class="col-xs-12 text-justify">In this game you will be presented with a set of cards, behind which words are hidden.
          You have to look for the same  and sometimes translations of these words, but please attend!
          Your time is limited and mistakes are worst a lost. Good luck! </span>
      </div>
      </div>

        <video class="center-block intro-gif" autoplay loop muted="muted">
          <source src="assets/video/intro.mp4">
        </video>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
