
* {
  font-size: 1em;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-show {
  visibility: visible;
}
.md-show:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1;

  background-size: cover;
}
/* Effect 6: side fall */
.md-effect-6.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-6 .md-content {
  background: url("/assets/img/bg-win.jpg");
  background-size: cover;
  border-radius: 10px;
  border: 1px solid #666666;
  padding: 40px 30px 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
  -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
  -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;
  box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.4);
}
.md-show.md-effect-6 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
  -moz-transform: translate(0%) translateZ(0) rotate(0deg);
  -ms-transform: translate(0%) translateZ(0) rotate(0deg);
  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
}

.stars_box{
  margin: 20px 0;
  background: #3d88e7;
  width: calc(100% + 60px);
  left: -30px;
}
.star{
  display: block;
  position: relative;
  height: 50px;
  overflow:hidden;
  white-space:nowrap;
  cursor:default;
  background: url("/assets/img/star1.png") no-repeat;
  background-size: contain;

}
.star.done{
  background: url("/assets/img/star.png") no-repeat;
  background-size: contain;
}

p{
  font-size: 1.3em;
}

.md-content > div{
  padding: 15px 0;
}

.btn.btn-info{
   font-size: 1.3em;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
}

.sad, .happiness{
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.4);
}

.sad{
  background: url("/assets/img/sad.gif") no-repeat center;
  background-size: auto 100%;
}
.happiness{
  background: url("/assets/img/Happiness.gif") no-repeat;
  background-size: contain;
}

.draw{
  background: url("/assets/img/draw.gif") no-repeat;
  background-size: contain;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
}

p span{
  color: #3d88e7;
}

strong{
  color: #fff;
}

.title_diff{
  color: #fff;
  margin-left: 20px;
}




