/******Table********/
.table-wrap {
  height: 400px;
  overflow: auto;
  margin-top: 1%;
}
.table {
  width: 75%;
  margin: 0 auto;
}
.table .data:hover {
  background: rgba(49, 176, 213, 0.5);
}
.find {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 38px;
}
.find-user {
  margin: 2% 0 2% 0;
}
.center {
  text-align: center;
}
h1 {
  font-size: 4em;
}
/******Difficulty********/
.stars {
    display: inline;
}
.stars img {
    width: 35px;
    height: 35px;
}
/******Language********/
.lang img {
  width: 35px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 1px rgba(0,0,0,0.5) ;
}
.lang .last {
  margin-left: -15px;
}
/**** btn join ***********/
button.join {
    padding: 5px 40px;
}
/****** header********/
.center {
    float: none;
    margin: 2% auto;
}
.header h1{
  display: inline-block;
  margin-right: 2%;
}
.header  {
  text-align: center;
}
.header a.btn {
  padding: 10px;
  margin-top: -15px;
}
.lang p, .type p, .difficulty p {
  text-align: center;
}
/******btn*********/

/******media********/
@media screen and (max-width: 1124px)  {
  .table-wrap {
    height: 400px;
  }
  h1 {
    font-size: 3em;
  }
  .header h1{
    display: inline-block;
    margin-right: 2%;
  }
  .header  {
    text-align: center;
  }
}
@media screen and (max-width: 768px)  {
   .table-wrap {
    height: 350px;
  }
   .stars img {
    width: 22px;
    height: 22px;
  }
  .lang img {
    width: 27px;
  }
  .select-btn div {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
@media screen and (max-width: 500px)  {
  .find{
    padding-left: 0;
    overflow: hidden;
  }
  h1{
      font-size: 2em;
    }
  .header a.btn {
    padding: 5px;
    margin-top: -10px;
  }
  .stars img {
    width: 18px;
    height: 18px;
  }
  .lang img {
    width: 22px;
  }
  .lang .last {
    margin-left: -14px;
  }
  button.join {
    padding: 2px 4px;
    font-size: 1em;
  }
  .table-wrap, .select-btn div {
    font-size: 12px;
  }
  .find {
    font-size: .9em;
    padding-right: 0;
  }
   .table-wrap .table td {
    padding: 2px;
  }
  input {
    padding: 0;
    padding-left: 10px;
  }
  .table-wrap {
    height: 270px;
  }
}
@media screen and (max-width: 320px)  {
   h1{
    font-size: 1.8em;
  }
  .table-wrap {
    height: 230px;
  }
  .header a.btn {
    padding: 4px;
    margin-top: -10px;
    font-size: .9em;
  }
  .stars img {
    width: 17px;
    height: 17px;
  }
  .lang img {
    width: 19px;
  }
  .lang .last {
    margin-left: -10px;
  }
  button.join {
    padding: 2px 3px;
    font-size: .8em;
  }
  .table-wrap,  .select-btn div {
    font-size: 11px;
  }
  .find, input {
    font-size: .9em;
    margin-top: -3px;
  }
  .table-wrap .table td {
    padding: 4px;
  }
}
